.list-cell{
     -fx-background-color: transparent;
     -fx-text-fill: white;
}

.list-cell:selected{
    -fx-background-color: #ffffff50;
}

.list-cell:filled:hover{
    -fx-background-color: #ffffff20;
}

.list-cell:selected:hover{
    -fx-background-color: #ffffff80;
}

.list-view{
    -fx-background-color: radial-gradient(focus-distance -60%, center 50% 50% , radius 85%, #252545 , #000000);
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.back{
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 25% , radius 55%, #252545 , #101020);
}

.axis-label {
  -fx-text-fill: red;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.button{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-background-radius: 5,4,3,5;
        -fx-background-insets: 0,1,2,0;
        -fx-text-fill: white;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Arial";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 12px;
        -fx-padding: 10 20 10 20;
}
#
#buttonRandom{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-background-radius: 5,4,3,5;
        -fx-background-insets: 0,1,2,0;
        -fx-text-fill: white;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Arial";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 12px;
        -fx-padding: 10 20 10 20;
}
#buttonPrevious{
    -fx-background-image: url("../img/prevButton.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
#buttonNext{
    -fx-background-image: url("../img/next.png");
        -fx-background-size: 30px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: 90%;
}
#buttonStop{
    -fx-background-image: url("../img/stopButton.png");
            -fx-background-size: 30px;
            -fx-background-repeat: no-repeat;
            -fx-background-position: 90%;
}
#buttonRepeat{
    -fx-background-color:
                #090a0c,
                linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
                linear-gradient(#20262b, #191d22),
                radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
            -fx-background-radius: 5,4,3,5;
            -fx-background-insets: 0,1,2,0;
            -fx-text-fill: white;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
            -fx-font-family: "Arial";
            -fx-text-fill: linear-gradient(white, #d0d0d0);
            -fx-font-size: 12px;
            -fx-padding: 10 20 10 20;

    -fx-background-image: url("../img/repeatButton.png");
                -fx-background-size: 30px;
                -fx-background-repeat: no-repeat;
                -fx-background-position: 90%;
}
#buttonRandom{
    -fx-background-image: url("../img/randomButton.png");
                -fx-background-size: 30px;
                -fx-background-repeat: no-repeat;
                -fx-background-position: 90%;

    -fx-background-color:
                    #090a0c,
                    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
                    linear-gradient(#20262b, #191d22),
                    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
                -fx-background-radius: 5,4,3,5;
                -fx-background-insets: 0,1,2,0;
                -fx-text-fill: white;
                -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
                -fx-font-family: "Arial";
                -fx-text-fill: linear-gradient(white, #d0d0d0);
                -fx-font-size: 12px;
                -fx-padding: 10 20 10 20;
}

#buttonAddPlaylist{
     -fx-background-image: url("../img/addbutton.png");
                    -fx-background-size: 30px;
                    -fx-background-repeat: no-repeat;
                    -fx-background-position: 90%;
}

#buttonRemovePlaylist{
     -fx-background-image: url("../img/removeButton.png");
                    -fx-background-size: 30px;
                    -fx-background-repeat: no-repeat;
                    -fx-background-position: 90%;
}

#buttonAddTrack{
    -fx-background-image: url("../img/addbutton.png");
                        -fx-background-size: 30px;
                        -fx-background-repeat: no-repeat;
                        -fx-background-position: 90%;
}

#buttonRemoveTrack{
    -fx-background-image: url("../img/removeButton.png");
                        -fx-background-size: 30px;
                        -fx-background-repeat: no-repeat;
                        -fx-background-position: 90%;
}